@import 'variables';

// Animación para enlaces de navegación
nav ul li a {
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
    &:hover {
        transform: scale(1.1);
        color: $color-blanco;
    }
}

// Animación para botones
.btn-primary {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}