@import 'variables';

// Contenedor global
.container {
    max-width: $max-width-container;
    margin: 0 auto;
    padding: 0 $padding-base;
}

// Body
body {
    margin: 0;
    font-family: $font-family;
}